@import '~bootstrap/scss/bootstrap';


* {
    font-family: 'Noto Sans', sans-serif;
}

.ms_menu_active {
    color: $white;
    background-color: $cyan;
}

.ms_btn_hover_danger {
    color: $red;

    &:hover {
        color: $white;
        background-color: $red;
        transition: 0.4s;
    }
}

.ms_btn_hover_warning {
    color: $yellow;

    &:hover {
        color: $white;
        background-color: $yellow;
        transition: 0.4s;
    }
}

.ms_btn_hover_info {
    color: $blue;

    &:hover {
        color: $white;
        background-color: $blue;
        transition: 0.4s;
    }
}

.ms_btn_hover_secondary {
    color: $gray-600;

    &:hover {
        color: $white;
        background-color: $gray-600;
        transition: 0.4s;
    }
}

.ms_header {
    height: 80px;
    color: #2E40A1;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e2e8f0;
}

.ms_main {
    height: calc(100vh - 80px);

    .container-fluid {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .ms_menu {
        /*background-color: #232438;*/
        /*color: white;*/
        --tw-text-opacity: 1;
        color: rgb(100 116 139 / var(--tw-text-opacity));
        font-size: 0.875rem;
        line-height: 1.25rem;

        li:hover {
            color: $white;
            background-color: $cyan;
            transition: 0.2s;
        }
    }

    .ms_inner_header {
        height: 108px;
    }

    .ms_inner_menu {
        height: calc(100vh - 240px);
        overflow: auto;
    }

    .ms_inner_menu::-webkit-scrollbar-track {
        background-color: #FFFFFF;
    }

    .ms_inner_menu::-webkit-scrollbar {
        width: 0.5rem;
        background-color: #000000;

    }

    .ms_inner_menu::-webkit-scrollbar-thumb {
        background-color: #2E40A1;
        border: 1px solid #FFFFFF;
        border-radius: 1rem;
    }
}